@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


body{
  background-image: linear-gradient(to bottom right, rgb(31, 13, 230), rgb(226, 14, 131));
}

*{
  margin: 0;
  padding: 0;
}

h1{
  font-family:'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif';
  font-size: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.inicio{
  background-image: url("image.jpg");
  background-size: cover;
}

h2{
  font-family:'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif';
  font-size: 30px;
}

.descrtion{
  padding: 50px 10px;
}

label{
  font-weight: 600;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: rgb(245, 247, 245);
}

input{
  background-color: rgb(207, 172, 230);
  border: solid;
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  align-items: center;
  display: flex;
}

.remover{
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(128, 0, 96);
  border:solid rgb(29, 6, 68);
  font-weight: 600;
  cursor: pointer;
}

button{
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(125, 104, 201);
  border:solid rgb(79, 9, 243);
  font-weight: 600;
  cursor: pointer;
}

button:hover{
  color:rgb(218, 235, 218);
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgb(224, 240, 227);
}